


{% extends "base1.html" %}
{% block content %}

{% load static %}
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static "images/hero_1.jpg" %}');" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <form method="post" class="search-jobs-form">
              {%csrf_token%}
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" name="search_company"  class="form-control form-control-lg" placeholder="Job title, Company...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4 mb-lg-0">
                    <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"   >Search Job</button></span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>
    </section>

    
    <section class="site-section" id="next">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2"> Job Listed</h2>
          </div>
        </div>
     {% if alljob %}
    <ul class="job-listings mb-5">
    {% for job in alljob %}
      <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
        <a href="{% url 'jobsinglepage' pk=job.id  %}"></a>
          <div class="job-listing-logo">
            <img src="{{ MEDIA_URL }}{{ job.company_logo.url }}" alt="" class="img-fluid">
          </div>
        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
          <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
            <h2>{{ job.jobname }}</h2>
            <strong>{{ job.companyname }}</strong>
            
          </div>
          <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
            <span class="icon-room"></span> {{ job.location }}
          </div>
           <div class="job-listing-meta">
            <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'jobsinglepage' pk=job.id %}'">
                Apply
            </button>
        </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No jobs available.</p>
{% endif %}



        <div class="row pagination-wrap">
          <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
            <span>Showing 1-7 Of 43,167 Jobs</span>
          </div>
          <div class="col-md-6 text-center text-md-right">
            <div class="custom-pagination ml-auto">
              <a href="#" class="prev">Prev</a>
              <div class="d-inline-block">
              <a href="#" class="active">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              </div>
              <a href="#" class="next">Next</a>
            </div>
          </div>
        </div>

      </div>
    </section>

   

    
   {% endblock%}