{% extends "index.html" %}
{% block content %}

{% load static %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Login</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Log In</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row justify-content-center"> <!-- Center the content -->
      <div class="col-lg-6">
        <h2 class="mb-4 text-center">Log In To JobPortal</h2>
        <form id="loginForm" class="p-4 border rounded" method="POST" action="{% url 'loginuser'%}">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
          <!-- Role Selection -->
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="role">Select Role*</label>
              <select name="role" id="role" class="form-control">
                <option value="">===Select Role===</option>
                <option value="Admin">Admin</option>
                <option value="Candidate">Candidate</option>
                <option value="Company">Company</option>
              </select>
              <div id="roleError" class="text-danger"></div>
            </div>
          </div>
          
          <!-- Email Input -->
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
              <div id="emailError" class="text-danger"></div>
            </div>
          </div>

          <!-- Password Input -->
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password">
              <div id="passwordError" class="text-danger"></div>
              <a href="{% url 'forgotpasswordpage' %}"> Forgot Password!</a>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row form-group">
            <div class="col-md-12">
              <button type="button" onclick="validateForm()" class="btn btn-primary btn-block">Log In</button>
            </div>
          </div>

          <!-- Registration Link -->
          <p class="text-center">Don't have an Account? <a href="{% url 'signuppage' %}"> Sign Up!</a></p>

        </form>
      </div>
    </div>
  </div>
</section>



{% endblock %}
