{% extends "base1.html" %}
{% block content %}
{% load static %}
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Login</h1>
        <div class="custom-breadcrumbs">
          <a href="#">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Reset Password</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Reset Password Form -->
<section class="site-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2 class="mb-4 text-center">Reset Password</h2>
        <form class="p-4 border rounded" method="POST" action="{% url 'reset_password' uidb64=uidb64 token=token %}">
          {% csrf_token %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          
          <!-- New Password Input -->
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="new_password">New Password</label>
              <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password" required>
            </div>
          </div>

          <!-- Confirm New Password Input -->
          <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="text-black" for="confirm_new_password">Confirm New Password</label>
              <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm New Password" required>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
